body {
  background-image: url("https://i.imgur.com/3ZQ3Z.jpg"); /* exemplo */
  background-size: cover;
  background-position: center;
}


.container {
  margin-top: 100px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#sim {
  background-color: #ff4da6;
  color: white;
}

#nao {
  background-color: #999;
  color: white;
}


